*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  --color-scrollbar-thumb: currentColor;
  --color-scrollbar-gutter: background;
}

*::-webkit-scrollbar {
  width: 11px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-gutter);
}

*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-gutter);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 6px;
  border: 3px solid var(--color-scrollbar-gutter);
}
